<div class="container">
    <div class="row bg-light d-flex align-items-center">

                <p class="p1"> Por favor, preencha o formulário de Alta e clique no botão OK para criar um registro novo. Clique em Cancelar para retornar à tela anterior </p>
                <form>
                    <div class="row mb-3">
                        <label for="DataAlta" class="col-sm-1 col-form-label">Data da avaliação </label>
                        <div class="col-sm-3">
                            <input type="datetime-local" class="form-control" id="dataalta">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <label for="DiagClin" class="col-sm-1 col-form-label">Diagnóstico Clínico</label>
                            <input type="text" class="form-control" id="diagclin">
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-sm-12">
                            <label for="QdrAtual" class="col-sm-10 col-form-label">Quadro Atual</label>
                            <textarea class="form-control" id ="qdratual" aria-label="With textarea" rows="3"></textarea>
                        </div>
                    </div>


                </form>
    </div>
    </div>
