<div class="container">
    <div class="row bg-light d-flex align-items-center">
        <p></p>

<form action="">
        <form class="prontuario">
            <div class="row mb-4">

                <div class="col-sm-4">
                    <label for="prontuario" class="col-sm-2 col-form-label">Prontuário:</label>
                    <input type="number" class="form-control" id="prontuario" placeholder="123">
                </div>
                <div class="col-sm-4"></div>

                <div class="col-sm-4">
                    <label for="codAtend" class="col-sm-6 col-form-label">Código de Atendimento:</label>
                    <input type="number" class="form-control" id="codAtend" placeholder="01">
                </div>
            </div>

            <div class="row mb-4">

                <div class="col-sm-4">
                    <label for="tipoPacient" class="col-sm-6 col-form-label" id="tipoPacient">Tipo de Paciente:</label>
            
                          <select class="form-select form-select" aria-label=".form-select example">
                            <option selected>Selecione uma das opções abaixo</option>
                            <option value="1">SUS</option>
                            <option value="2">Particular</option>
                          </select>
              
              
                </div>
                <div class="col-sm-4"></div>

                <div class="col-sm-4">
                    <label for="criadoEm" class="col-sm-6 col-form-label" id="criadoEm">Cadastro criado em:</label>
                    <input type="date" class="form-control" id="codAtend" placeholder="01">
                </div>
            </div>
        </form>
            
        </form>
        <form class="dadosPessoais">
            <div class="row mb-3">
                <label for="dadosPessoais">Dados Pessoais</label>
                <div class="col-sm-12">
                    <label for="Edemas" class="col-sm-8 col-form-label">Nome:</label>
                    <input type="text" class="form-control" id="edemas">
                </div>
                <div class="col-sm-12">
                    <label for="Uceras" class="col-sm-8 col-form-label">Nome Social:</label>
                    <input type="text" class="form-control" id="Uceras">
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">Data de Nascimento:</label>
                    <input type="date" class="form-control" id="Uceras">
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">Idade:</label>
                    <input type="number" class="form-control" id="Uceras">
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">Sexo:</label>
                    <select class="form-select form-select" aria-label=".form-select example">
                        <option selected>Selecione uma das opções abaixo</option>
                        <option value="F">F</option>
                        <option value="M">M</option>
                      </select>    
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">Cor:</label>
                    <select class="form-select form-select" aria-label=".form-select example">
                        <option selected>Selecione uma das opções abaixo</option>
                        <option value="Parda">Parda</option>
                        <option value="Preta">Preta</option>
                        <option value="Branca">Branca</option>
                        <option value="Amarelos">Amarelos</option>
                        <option value="Indigenas">Indigenas</option>

                      </select>    
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">T. Sanguíneo:</label>
                    <select class="form-select form-select" aria-label=".form-select example">
                        <option selected>Selecione uma das opções abaixo</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                      </select>    
                </div>
                <div class="col-sm-4">
                    <label for="Uceras" class="col-sm-6 col-form-label">Doador:</label>
                    <select class="form-select form-select" aria-label=".form-select example">
                        <option selected>Selecione uma das opções abaixo</option>
                        <option value="s">Sim</option>
                        <option value="n">Não</option>
                      </select>    
                </div>
                <div class="col-sm-3">
                    <label for="raca" class="col-sm-8 col-form-label">Raça:</label>
                    <input type="text" class="form-control" id="raca">
                </div>
                <div class="col-sm-4">
                    <label for="estadocivil" class="col-sm-6 col-form-label">Estado Civil:</label>
                    <select class="form-select form-select" aria-label=".form-select example" id="estadocivil">
                        <option selected>Selecione uma das opções abaixo</option>
                        <option value="solto">Solteiro</option>
                        <option value="casado">Casado-</option>
                        <option value="divorc">Divorciado-</option>
                      </select>    
                </div>
                <div class="col-sm-12">
                    <label for="conjuge" class="col-sm-8 col-form-label">Nome Cônjuge:</label>
                    <input type="text" class="form-control" id="conjuge">
                </div>
                <div class="col-sm-3">
                    <label for="naturalidade" class="col-sm-8 col-form-label">Nacionalidade:</label>
                    <input type="text" class="form-control" id="naturalidade">
                </div>
                <div class="col-sm-3">
                    <label for="naturalidade" class="col-sm-8 col-form-label">Naturalidade:</label>
                    <input type="text" class="form-control" id="naturalidade">
                </div>
                <div class="col-sm-3">
                    <label for="religiao" class="col-sm-8 col-form-label">Religião:</label>
                    <input type="text" class="form-control" id="religiao">
                </div>
                <div class="col-sm-3">
                    <label for="etnia" class="col-sm-8 col-form-label">Etnia:</label>
                    <input type="text" class="form-control" id="etnia">
                </div>
                <div class="col-sm-12">
                    <label for="profissao" class="col-sm-8 col-form-label">Profissão:</label>
                    <input type="text" class="form-control" id="profissao">
                </div>
            </div>
        </form>
    <p></p>
    <p></p>

