<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Orientações</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="auxilioParaMarcha">
        <label class="form-check-label" for="auxilioParaMarcha">
          Utilizar Auxílio Para Marcha
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="limpezaDaTQT">
        <label class="form-check-label" for="limpezaDaTQT">
          Limpeza da TQT
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="procedimentoDeAspiracao">
        <label class="form-check-label" for="procedimentoDeAspiracao">
          Procedimento de Aspiração
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="elevacaoDosMMII">
        <label class="form-check-label" for="elevacaoDosMMII">
          Elevação dos MMII
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="modificacaoEAdaptacaoAmbiental">
        <label class="form-check-label" for="modificacaoEAdaptacaoAmbiental">
          Modificação e Adaptação Ambiental
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="reduzirTempoDePermancenciaNoLeito">
        <label class="form-check-label" for="reduzirTempoDePermancenciaNoLeito">
          Reduzir o Tempo De Permanência No Leito
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="estimularParticipacaoNasAVDS">
        <label class="form-check-label" for="estimularParticipacaoNasAVDS">
          Estimular a Participação Nas AVD'S
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mudancaDecubito">
        <label class="form-check-label" for="mudancaDecubito">
          Mudança de Decúbito de 2 em 2 Horas
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="riscoDeQueda">
        <label class="form-check-label" for="riscoDeQueda">
          Risco de Queda
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hidratacaoDaPele">
        <label class="form-check-label" for="hidratacaoDaPele">
          Hidratação da Pele
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="orientarExerciFisiotPrescritos">
        <label class="form-check-label" for="orientarExerciFisiotPrescritos">
          Orientar os Exerc. Fisiot. Prescritos
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="transferenciasDePostura">
        <label class="form-check-label" for="transferenciasDePostura">
          Transferências de Posturas
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="higienizacaoDosAparelhos">
        <label class="form-check-label" for="higienizacaoDosAparelhos">
          Higienização dos Aparelhos
        </label>
      </div>


    </form>
  </div>
</div>