<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Condutas</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>


      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="ajusteDeCUFF">
        <label class="form-check-label" for="ajusteDeCUFF">
          Ajuste de CUFF
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="alcanceLateralidade">
        <label class="form-check-label" for="alcanceLateralidade">
          Alcance e Lateralidade
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="alongamMuscAcessoriaDaEspiratoria">
        <label class="form-check-label" for="alongamMuscAcessoriaDaEspiratoria">
          Alongam. da Musc. Acessoria da Espiratória
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="alongamentoMuscular">
        <label class="form-check-label" for="alongamentoMuscular">
          Alongamento Muscular
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspiracao">
        <label class="form-check-label" for="aspiracao">
          Aspiração
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="atividadesFuncionais">
        <label class="form-check-label" for="atividadesFuncionais">
          Atividades Funcionais
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="avaliacao">
        <label class="form-check-label" for="avaliacao">
          Avaliação
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cicloErgometro">
        <label class="form-check-label" for="cicloErgometro">
          Ciclo Ergômetro
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="controleDeTronco">
        <label class="form-check-label" for="controleDeTronco">
          Controle de Tronco
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="descargaPesoMMIIeMMSS">
        <label class="form-check-label" for="descargaPesoMMIIeMMSS">
          Descarga de Peso em MMII e/ou MMSS
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="desmameBIPAP">
        <label class="form-check-label" for="desmameBIPAP">
          Desmame de BIPAP
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="dissociacaoCinturas">
        <label class="form-check-label" for="dissociacaoCinturas">
          Dissocição De Cinturas
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="empilhamentoComAmbu">
        <label class="form-check-label" for="empilhamentoComAmbu">
          Empilhamento Com Ambu
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="estimuloTosse">
        <label class="form-check-label" for="estimuloTosse">
          Estimulo & Tosse
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="exercAtivos">
        <label class="form-check-label" for="exercAtivos">
          Exerc. Ativos
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="ativoAssistido">
        <label class="form-check-label" for="ativoAssistido">
          Ativo-Assistido
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="passivo">
        <label class="form-check-label" for="exercAtivos">
          Passivo
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="exerciciosCirculatorios">
        <label class="form-check-label" for="exerciciosCirculatorios">
          Exercícios Circulatórios
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="exerciciosIsometricos">
        <label class="form-check-label" for="exerciciosIsometricos">
          Exercícios Isométricos
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="fortalecimentoMuscRespiratoria">
        <label class="form-check-label" for="fortalecimentoMuscRespiratoria">
          Fortalecimento da Musc. Respiratória
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="fortalecimentoMuscular">
        <label class="form-check-label" for="fortalecimentoMuscular">
          Fortalecimento Muscular
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="higieneBronquica">
        <label class="form-check-label" for="higieneBronquica">
          Higiene Brônquica
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="inspirometroIncentivo">
        <label class="form-check-label" for="inspirometroIncentivo">
          Inspirômetro de Incentivo
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="limpezaTQT">
        <label class="form-check-label" for="limpezaTQT">
          Limpeza TQT
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="manobrasRespiratorias">
        <label class="form-check-label" for="manobrasRespiratorias">
          Manobras Respiratórias
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="medidasAnalgesicas">
        <label class="form-check-label" for="medidasAnalgesicas">
          Medidas Analgésicas
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mobilizacaoArticular">
        <label class="form-check-label" for="mobilizacaoArticular">
          Mobilização Articular
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="monitorizacao">
        <label class="form-check-label" for="monitorizacao">
          Monitorização
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="padraoRespiratoria">
        <label class="form-check-label" for="padraoRespiratoria">
          Padrão Respiratória
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="PEEPSeloDagua">
        <label class="form-check-label" for="PEEPSeloDagua">
          PEEP Selo D’água
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="propriocepcao">
        <label class="form-check-label" for="propriocepcao">
          Propriocepção
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="propriocepcaoDiafragmatica">
        <label class="form-check-label" for="propriocepcaoDiafragmatica">
          Propriocepção Diafragmática
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="treinoCoordenacaoMotora">
        <label class="form-check-label" for="treinoCoordenacaoMotora">
          Treino de Coordenação Motora
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="treinoEquilibrio">
        <label class="form-check-label" for="treinoEquilibrio">
          Treino de Equilíbrio
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="treinoDeMarcha">
        <label class="form-check-label" for="treinoDeMarcha">
          Treino de Marcha
        </label>
      </div>

    </form>
  </div>
</div>