<br>

<div class="container">
    <div class="row bg-light d-flex align-items-center">
               
        <form>
            <div class="col-sm-12">

                    <div class="row mb-2 p-4 shadow-lg bg-light rounded">
                        <h5> Dados do Paciente </h5>

                        <div class="col-sm-6">
                            <label for="NomePaciente" class="col-form-label"><strong>Nome:</strong> </label>
                            <input type="text" readonly class="form-control-plaintext" id="staticNome" value="LETÍCIA OLIVEIRA">
                        </div>

                        <div class="col-sm-3">
                            <label for="Idade" class=" col-form-label"><strong>Idade:</strong></label>
                            <input type="text" readonly class="form-control-plaintext" id="staticNome" value="26">
                        </div>

                        <div class="col-sm-6">
                            <label for="Genero" class="col-form-label"><strong>Gênero:</strong> </label>
                            <input type="text" readonly class="form-control-plaintext" id="staticgenero" value="Hetero">
                        </div>

                        <div class="col-sm-6">
                            <label for="DataNasc" class="col-form-label"><strong>Data de Aniversário</strong> </label>
                            <input type="text" readonly class="form-control-plaintext" id="staticdatanasc" value="14/12/1992">
                        </div>
                    </div>
                    </div>
        </form>
    </div>
 </div>
<br>
