<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Equilibrio</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>

      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Sentado</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipo" id="sentado1" value="option1" checked>
            <label class="form-check-label" for="sentado1">
              Nenhuma das alternativas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sentado" id="sentado2" value="option2">
            <label class="form-check-label" for="sentado2">
              Mantém-se com apoio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sentado" id="sentado3" value="option3">
            <label class="form-check-label" for="sentado3">
              Presente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sentado" id="sentado4" value="option4">
            <label class="form-check-label" for="sentado4">
              Ausente
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Posição Ortástica</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipo" id="posicaoOrtastica1" value="option1" checked>
            <label class="form-check-label" for="posicaoOrtastica1">
              Nenhuma das alternativas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="posicaoOrtastica" id="posicaoOrtastica2" value="option2">
            <label class="form-check-label" for="posicaoOrtastica2">
              Mantém-se com apoio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="posicaoOrtastica" id="posicaoOrtastica3" value="option3">
            <label class="form-check-label" for="posicaoOrtastica3">
              Presente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="posicaoOrtastica" id="posicaoOrtastica4" value="option4">
            <label class="form-check-label" for="posicaoOrtastica4">
              Ausente
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>