<nav class="navbar navbar-expand-lg bg-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/favicon.ico" alt="Logo" width="30" height="">
      Next
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Evolução Fisioterapia</a>
        </li>
        <span class="linha-vertical"></span>
        <li class="nav-item">
          <a class="nav-link" href="#">Laudo</a>
        </li>
        <span class="linha-vertical"></span>
        <li class="nav-item">
          <a class="nav-link" href="#">Prorrogação</a>
        </li>
      </ul>
    </div>
  </div>
</nav>