<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Respiratório</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>

      <!-- Options <row <cols> >-->
      <div class="col-sm-12 alinhamento mb-4">

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Tipo de Respiração</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoDeRespiracao" id="tipoDeRespiracao1"
                value="option1" checked>
              <label class="form-check-label" for="tipoDeRespiracao1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoDeRespiracao" id="tipoDeRespiracao2"
                value="option2">
              <label class="form-check-label" for="tipoDeRespiracao2">
                Eupneico
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoDeRespiracao" id="tipoDeRespiracao3"
                value="option3">
              <label class="form-check-label" for="tipoDeRespiracao3">
                Dispneico
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoDeRespiracao" id="tipoDeRespiracao4"
                value="option4">
              <label class="form-check-label" for="tipoDeRespiracao4">
                Taquipneico
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoDeRespiracao" id="tipoDeRespiracao5"
                value="option5">
              <label class="form-check-label" for="tipoDeRespiracao5">
                Outros
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->

        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Expansibilidade</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade1" value="option1"
                checked>
              <label class="form-check-label" for="expansibilidade1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade2" value="option2">
              <label class="form-check-label" for="expansibilidade2">
                Normal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade3" value="option3">
              <label class="form-check-label" for="expansibilidade3">
                Aumentada
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade4" value="option4">
              <label class="form-check-label" for="expansibilidade4">
                Diminuída
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade5" value="option5">
              <label class="form-check-label" for="expansibilidade5">
                Simétrica
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="expansibilidade" id="expansibilidade6" value="option6">
              <label class="form-check-label" for="expansibilidade6">
                Assimétrica
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->



        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Tosse</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse1" value="option1" checked>
              <label class="form-check-label" for="tosse1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse2" value="option2">
              <label class="form-check-label" for="tosse2">
                Ausente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse3" value="option3">
              <label class="form-check-label" for="tosse3">
                Improdutiva
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse4" value="option4">
              <label class="form-check-label" for="tosse4">
                Produtiva
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse5" value="option5">
              <label class="form-check-label" for="tosse5">
                Eficaz
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse6" value="option6">
              <label class="form-check-label" for="tosse6">
                Ineficaz
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tosse" id="tosse7" value="option7">
              <label class="form-check-label" for="tosse7">
                Assistida
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->

      </div>
      <div class="col-sm-12 alinhamento mb-4">



        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Padrão Musc. Resp.</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="padraoMuscResp" id="padraoMuscResp1" value="option1"
                checked>
              <label class="form-check-label" for="padraoMuscResp1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="padraoMuscResp" id="padraoMuscResp2" value="option2">
              <label class="form-check-label" for="padraoMuscResp2">
                Torácico
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="padraoMuscResp" id="padraoMuscResp3" value="option3">
              <label class="form-check-label" for="padraoMuscResp3">
                Toracoabdominal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="padraoMuscResp" id="padraoMuscResp4" value="option4">
              <label class="form-check-label" for="padraoMuscResp4">
                Abdominal
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->


        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Ritmo</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ritmo" id="ritmo1" value="option1" checked>
              <label class="form-check-label" for="ritmo1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ritmo" id="ritmo2" value="option2">
              <label class="form-check-label" for="ritmo2">
                Regular
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ritmo" id="ritmo3" value="option3">
              <label class="form-check-label" for="ritmo3">
                Irregular
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->

        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Ausculta</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ausculta" id="ausculta1" value="option1" checked>
              <label class="form-check-label" for="ausculta1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ausculta" id="ausculta2" value="option2">
              <label class="form-check-label" for="ausculta2">
                Murmúrios Vesiculares Fisiológico
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ausculta" id="ausculta3" value="option3">
              <label class="form-check-label" for="ausculta3">
                Roncos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ausculta" id="ausculta4" value="option4">
              <label class="form-check-label" for="ausculta4">
                Sibilos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ausculta" id="ausculta5" value="option5">
              <label class="form-check-label" for="ausculta5">
                Crepitação
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->

      </div>
      <div class="col-sm-12 alinhamento mb-4">

        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Esforço</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esforco" id="esforco1" value="option1" checked>
              <label class="form-check-label" for="esforco1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esforco" id="esforco2" value="option2">
              <label class="form-check-label" for="esforco2">
                Ausente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esforco" id="esforco3" value="option3">
              <label class="form-check-label" for="esforco3">
                Leve
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esforco" id="esforco4" value="option4">
              <label class="form-check-label" for="esforco4">
                Moderado
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esforco" id="esforco5" value="option5">
              <label class="form-check-label" for="esforco5">
                Intenso
              </label>
            </div>
          </div>
        </fieldset>
        <!-- ENCERRA A LINHA DE BUTTONS -->

        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Dispneia</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia1" value="option1" checked>
              <label class="form-check-label" for="dispneia1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia2" value="option2">
              <label class="form-check-label" for="dispneia2">
                Esforços Maiores
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia3" value="option3">
              <label class="form-check-label" for="dispneia3">
                Esforços Mínimos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia4" value="option4">
              <label class="form-check-label" for="dispneia4">
                Esforços Habituais
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia5" value="option5">
              <label class="form-check-label" for="dispneia5">
                Repouso
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dispneia" id="dispneia6" value="option6">
              <label class="form-check-label" for="dispneia6">
                Ausente
              </label>
            </div>
          </div>
        </fieldset>

      </div>
    </form>
  </div>
</div>