<div class="container">
    <div class="row bg-light d-flex align-items-center">
        <p></p>

        <form action="">
            <form class="Contato">
                <div class="row mb-4">

                    <div class="col-sm-6">
                        <label for="Telefone" class="col-sm-8 col-form-label">Telefone:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-6">
                        <label for="Telefone" class="col-sm-8 col-form-label">Celular:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-6">
                        <label for="Email" class="col-sm-8 col-form-label">Email:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                    <div class="col-sm-6">
                        <label for="Email" class="col-sm-8 col-form-label">Email 2:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>