<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Avaliação Motora</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>

      <!-- Options <row <cols> >-->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Administração</legend>
        <select class="form-select form-select" aria-label=".form-select example">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Normal</option>
          <option value="3">Restrista</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalAdm">
      </div>
      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Dor ao movimento</legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idDorMovimento">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Sim</option>
          <option value="3">Não</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalDorMovimento">
      </div>

      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Edema</legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idEdema">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Sim</option>
          <option value="3">Não</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalEdema">
      </div>

      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Tônus
        </legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idTonus">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Normal</option>
          <option value="3">Diminuído</option>
          <option value="4">Aumentado</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalTonus">
      </div>

      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Trofismo Muscular
        </legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idTrofismoMuscular">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Atrofia</option>
          <option value="3">Hipotrofia</option>
          <option value="4">Eutrofia</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalTrofismoMuscular">
      </div>

      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Força Muscular
        </legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idForcaMuscular">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">Normal</option>
          <option value="3">Reduzida</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Local</legend>
        <input type="text" class="form-control" id="inputLocalForcaMuscular">
      </div>

      <!-- ENCERRA a text box -->

      <!-- INICIA SELECT -->

      <div class="input-group mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Marcha
        </legend>
        <select class="form-select form-select" aria-label=".form-select example" id="idMarchaAvMotora">
          <option selected>Selecione uma das opções abaixo</option>
          <option value="1">Nenhuma das Alternativas</option>
          <option value="2">com Aux. e com Órteses</option>
          <option value="3">sem Aux. e com Órteses</option>
          <option value="4">com Aux. e sem Órteses</option>
          <option value="5">sem Aux. e sem Órteses</option>
        </select>
      </div>

      <!-- ENCERRA SELECTS -->

      <!-- COMEÇA A TEXTBOX -->

      <div class="input-group  mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Observações</legend>

        <textarea class="form-control" aria-label="With textarea" rows="3"></textarea>
      </div>

      <!-- FINALIZA A TEXTBOX -->