<div class="container">
    <div class="row bg-light d-flex align-items-center">
        <p></p>

        <form action="Contato">
                <div class="row mb-4">

                    <div class="col-sm-3">
                        <label for="Telefone" class="col-sm-6 col-form-label">CPF:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-3">
                        <label for="Email" class="col-sm-6 col-form-label">Passaporte:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                    <div class="col-sm-3">
                        <label for="Telefone" class="col-sm-6 col-form-label">Identidade:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-3">
                        <label for="Email" class="col-sm-6 col-form-label">Órgão Emissor:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>

                    <div class="col-sm-3">
                        <label for="Telefone" class="col-sm-6 col-form-label">Data Expedição:</label>
                        <input type="date" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-3">
                        <label for="Email" class="col-sm-9 col-form-label">Certidão de Nascimento:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                    <div class="col-sm-3">
                        <label for="Telefone" class="col-sm-6 col-form-label">Cartório:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-3">
                        <label for="Email" class="col-sm-6 col-form-label">Livro:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>

                    
                    <div class="col-sm-12">
                        <label for="Telefone" class="col-sm-6 col-form-label">Folha:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-6">
                        <label for="Email" class="col-sm-6 col-form-label">Data Emissão:</label>
                        <input type="date" class="form-control" id="Email">
                    </div>
                    <div class="col-sm-6">
                        <label for="Telefone" class="col-sm-6 col-form-label">Carteira Nacional de Saúde:</label>
                        <input type="text" class="form-control" id="Telefone">
                    </div>
                    <div class="col-sm-12">
                        <label for="Email" class="col-sm-6 col-form-label">Declaração de Nascido Vivo:</label>
                        <input type="text" class="form-control" id="Email">
                    </div>

                </div>      
        </form>
    </div>
</div>