<div class="container">
    <div class="row bg-light d-flex align-items-center">
        <p></p>
        <form action="">
            <p class="p1"><strong>FICHA DE IDENTIFICAÇÃO DO PACIENTE</strong></p>
            <form>
                <div class="container-fluid">
                    <div class="row bg-light d-flex align-items-center">
                
                        <mat-tab-group>
                            <mat-tab label="Dados do Paciente">
                                <app-dadospaciente></app-dadospaciente>
                            </mat-tab>
                            <mat-tab label="Contato">
                                <app-contato></app-contato>
                            </mat-tab>
                            <mat-tab label="Identificação">
                                <app-identificacao></app-identificacao>
                            </mat-tab>
                            <mat-tab label="Filiação">
                                <app-filiacao></app-filiacao>
                            </mat-tab>
                            <mat-tab label="Endereço">
                                <app-endereco></app-endereco>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
         <!-- -->       