<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Neurologia</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>

      <!-- Options <row <cols> >-->
      <div class="col-sm-12 alinhamento mb-4">
        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Orientação</legend>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="orientacao" id="orientacao1" value="option1" checked>
              <label class="form-check-label" for="orientacao1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="orientacao" id="orientacao2" value="option2">
              <label class="form-check-label" for="orientacao2">
                Orientado
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="orientacao" id="orientacao3" value="option3">
              <label class="form-check-label" for="orientacao3">
                Desorientado
              </label>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Consiência</legend>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="consciencia" id="consciencia1" value="option1" checked>
              <label class="form-check-label" for="consciencia1">
                N/A
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="consciencia" id="consciencia2" value="option2">
              <label class="form-check-label" for="consciencia2">
                Consciente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="consciencia" id="consciencia3" value="option3">
              <label class="form-check-label" for="consciencia3">
                Alerta
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="consciencia" id="consciencia4" value="option4">
              <label class="form-check-label" for="consciencia4">
                Sonolento
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="consciencia" id="consciencia5" value="option5">
              <label class="form-check-label" for="consciencia5">
                Comatoso
              </label>
            </div>
          </div>
        </fieldset>

        <!-- COMEÇA A LINHA DE BUTTONS -->

        <fieldset class="col-sm-4">
          <legend class="col-form-label col-sm-2 pt-0">Emocional</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="emocional" id="emocional1" value="option1" checked>
              <label class="form-check-label" for="emocional1">
                Calmo
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="emocional" id="emocional2" value="option2">
              <label class="form-check-label" for="emocional2">
                Agressivo
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="emocional" id="emocional3" value="option3">
              <label class="form-check-label" for="emocional3">
                Agitado
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="emocional" id="emocional4" value="option4">
              <label class="form-check-label" for="emocional4">
                Letargico
              </label>
            </div>
          </div>
        </fieldset>


        <!-- ENCERRA A LINHA DE BUTTONS -->
      </div>
      <!-- COMEÇA A TEXTBOX -->

      <div class="input-group">
        <legend class="col-form-label pt-0">Observações</legend>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

      <!-- FINALIZA A TEXTBOX -->


    </form>
  </div>