.grafico {
  width: 761px;
  height: 380px;
}

.card-body {
  /*   width: 801px;
  height: 420px;
  padding: 20px; */
  width: 778px;
  height: 380px;
  display: flex;
  justify-content: center;
}



.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #59c4bc;
  border-bottom: 1px solid #59c4bdd0;
  width: 778px;
  height: 49px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.row {
  align-items: center;
  justify-content: space-around;
}

.cartao {
  padding: 0.75rem 1.25rem;
}

.container-fluid {
  padding-bottom: 100px;
}

.fundo-cor {
  background-color: #59c4bc;
}