<div class="container-fluid">
  <div class="row bg-light d-flex align-items-center">

    <mat-tab-group>
      <mat-tab label="Consulta">
        <app-consulta></app-consulta>
      </mat-tab>
      <mat-tab label="Neurologia">
        <app-neurologia></app-neurologia>
      </mat-tab>
      <mat-tab label="Respiratório">
        <app-respiratorio></app-respiratorio>
      </mat-tab>
      <mat-tab label="Secreção">
        <app-secrecao></app-secrecao>
      </mat-tab>
      <mat-tab label="Avaliação Motora">
        <app-avaliacao-motora></app-avaliacao-motora>
      </mat-tab>
      <mat-tab label="Equilíbrio">
        <app-equilibrio></app-equilibrio>
      </mat-tab>
      <mat-tab label="Escala de Morse">
        <app-escala-de-morse></app-escala-de-morse>
      </mat-tab>
      <mat-tab label="Metas">
        <app-metas></app-metas>
      </mat-tab>
      <mat-tab label="Orientações">
        <app-orientacoes></app-orientacoes>
      </mat-tab>
      <mat-tab label="Condutas">
        <app-condutas></app-condutas>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>