<div class="container">
    <div class="row bg-light d-flex align-items-center">
        <p></p>

<form action="">
        <form class="filação">
            <div class="row mb-4">

                <div class="col-sm-12">
                    <label for="nomepai" class="col-sm-6 col-form-label">Nome do Pai:</label>
                    <input type="text" class="form-control" id="nomepai" placeholder="">
                </div>

                <div class="col-sm-12">
                    <label for="nomemae" class="col-sm-6 col-form-label">Nome da Mãe:</label>
                    <input type="text" class="form-control" id="nomemae" placeholder="">
                </div>
                <div class="col-sm-12">
                    <label for="multparent" class="col-sm-6 col-form-label">Multiparentalidade:</label>
                    <input type="text" class="form-control" id="multparent" placeholder="">
                </div>

                <div class="col-sm-12">
                    <label for="nomeresponsavel" class="col-sm-6 col-form-label">Nome do Responsavel:</label>
                    <input type="text" class="form-control" id="nomeresponsavel" placeholder="">
                </div>
                
                <div class="col-sm-6">
                    <label for="telfiliacao" class="col-sm-8 col-form-label">Telefone Fixo:</label>
                    <input type="text" class="form-control" id="telfiliacao" placeholder="">
                </div>
                <div class="col-sm-6">
                    <label for="telfiliacao" class="col-sm-8 col-form-label">Telefone Celular:</label>
                    <input type="text" class="form-control" id="telfiliacao" placeholder="">
                </div>

            </div>

            
        </form>
    <p></p>
    <p></p>


