<div class="container-fluid">
    <div class="row bg-light d-flex align-items-center">

        <mat-tab-group>
            <mat-tab label="Sinais Vitais - Adulto">
                <app-sinais-vitais></app-sinais-vitais>
            </mat-tab>
            <mat-tab label="Sinais Vitais - Pediátrico">
                <app-sinais-vitais-pediatrico></app-sinais-vitais-pediatrico>
            </mat-tab>
            <mat-tab label="Avaliação">
                <app-avaliacao></app-avaliacao>
            </mat-tab>
            <mat-tab label="Reavaliação">
                <app-reavaliacao></app-reavaliacao>
            </mat-tab>
            <mat-tab label="Laudo">
                <app-laudo></app-laudo>
            </mat-tab>
            <mat-tab label="Alta">
                <app-alta></app-alta>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>