<div class="container margin-inferior">
  <div class="row bg-light d-flex align-items-center">
    <form action="">
      <p class="p1"> Por favor, preencha o formulário de <strong>Secreção</strong> e clique no botão OK para
        criar um
        registro novo.
        Clique em Cancelar para retornar à tela anterior </p>




      <fieldset class="row mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Tipo de Secreção</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipoDeSecrecao" id="tipoDeSecrecao1" value="option1"
              checked>
            <label class="form-check-label" for="tipoDeSecrecao1">
              N/A
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipoDeSecrecao" id="tipoDeSecrecao2" value="option2">
            <label class="form-check-label" for="tipoDeSecrecao2">
              Ausente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipoDeSecrecao" id="tipoDeSecrecao3" value="option3">
            <label class="form-check-label" for="tipoDeSecrecao3">
              Fluida
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipoDeSecrecao" id="tipoDeSecrecao4" value="option4">
            <label class="form-check-label" for="tipoDeSecrecao4">
              Semi Espessa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tipoDeSecrecao" id="tipoDeSecrecao5" value="option5">
            <label class="form-check-label" for="tipoDeSecrecao5">
              Espessa
            </label>
          </div>
        </div>
      </fieldset>
      <!-- ENCERRA A LINHA DE BUTTONS -->



      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Cor</legend>
        <input type="text" class="form-control" id="inputCor">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Quantidade</legend>
        <input type="text" class="form-control" id="inputQuantidade">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Nº Aspirações</legend>
        <input type="number" class="form-control" id="inputAspiracao" placeholder="número inteiro">
      </div>

      <!-- ENCERRA a text box -->

      <!-- COMEÇA A LINHA DE BUTTONS -->

      <fieldset class="row mb-3 mt-5">
        <legend class="col-form-label col-sm-2 pt-0">Dispositivos</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos1" value="option1" checked>
            <label class="form-check-label" for="dispositivos1">
              N/A
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos2" value="option2">
            <label class="form-check-label" for="dispositivos2">
              Ausente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos3" value="option3">
            <label class="form-check-label" for="dispositivos3">
              TQT
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos4" value="option4">
            <label class="form-check-label" for="dispositivos4">
              Cateter02
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos5" value="option5">
            <label class="form-check-label" for="dispositivos5">
              Máscara Facial
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos6" value="option6">
            <label class="form-check-label" for="dispositivos6">
              VM Não Invasiva
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos7" value="option7">
            <label class="form-check-label" for="dispositivos7">
              VM Invasiva
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dispositivos" id="dispositivos8" value="option8">
            <label class="form-check-label" for="dispositivos8">
              Outros
            </label>
          </div>
        </div>
      </fieldset>
      <!-- ENCERRA A LINHA DE BUTTONS -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Modelo</legend>
        <input type="text" class="form-control" id="inputModelo">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">P. insp</legend>
        <input type="text" class="form-control" id="inputPInsp">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Modo Vent.</legend>
        <input type="text" class="form-control" id="inputModoVent">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">PEEP</legend>
        <input type="text" class="form-control" id="inputPEEP">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">VC</legend>
        <input type="text" class="form-control" id="inputVC">
      </div>

      <!-- ENCERRA a text box -->

      <!-- Inicia a text box -->

      <div class="input-group mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">V. Min</legend>
        <input type="text" class="form-control" id="inputVMin">
      </div>

      <!-- ENCERRA a text box -->

      <!-- COMEÇA A TEXTBOX -->

      <div class="input-group  mb-3 mt-3">
        <legend class="col-form-label col-sm-2 pt-0">Observações</legend>

        <textarea class="form-control" aria-label="With textarea" rows="3"></textarea>
      </div>

      <!-- FINALIZA A TEXTBOX -->
    </form>
  </div>